.idea                                                                                                                                                     
.vscode
.ipynb_checkpoints

build/postcli
bin

*.out
*.zip
